<app-barnav visible="true"></app-barnav>
<div class="container">
    <br>
    <br>
    <br>
    <h1 class="text-center display-2">Angry Sleppers</h1>
    <div class="text-center logo">
        <img src="assets/fractal-sobre-fondo-negro_95125-470.jpg">
    </div>
    <br>
    <br>
    <br>
    <br>
    <!-- textos -->
    <div class="d-flex justify-content-around    ">
        <p class=" textos col-4 text1">
            Enjoy the goods notes of the sleeppers
        </p>
        <p class=" text2 mr-3">Una banda de rock bien polenta</p>
        <p class="  text3 ">
            El viento rodo por la noche, se encendio el fuego de la musica
            <br> Y siguio sonand eternamente...
        </p>
    </div><br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>