
.bor{
    text-align: center;
}

.titp {
    color: rgb(11, 172, 221);
    font-family: 'Alata', sans-serif;
    font-size: calc(3.3rem + 4.6vw);

  }
  .textos{
    background-color: rgba(0, 0, 0, 0.3);
  }
.text1 {
    font-family: 'Passero One', cursive;
    font-size: 1.9rem;
    color: rgb(40, 133, 113);
}

img {
    border-radius: 100%;
    animation: spin 5.5s 1 ease-in-out;
  
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}