<app-barnav visible="true"></app-barnav>
    <div class="container-fluid">
      <div class="row  bor ">
        <div class="col-sm-12 titp">Angry Sleppers</div>
  </div>
         <div class="row bor mt-3 ">
          <div class="col-sm-12 logo">     
           <img src="assets/fractal-sobre-fondo-negro_95125-470.jpg" class="img-fluid">
      </div>
    </div>
    <!-- textos -->
    <div class=" textos bor mt-5">
        <div class="row text1 textos">
          <div class="col-sm-4">
            Acordes criminales
          </div>
          <div class="col-sm-4">
           Y con el sonido
                  </div>
          <div class="col-sm-4">
           Sobreviviremos...         </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
