<app-barnav visible="true"></app-barnav>
<br>
<br>
<br>
<br>
<div class="container-fluid text-center">
    <h1 class="display-2">Historia</h1>
    <a href="/history#history">
        <img src="assets/book.png"></a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p id="history">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, modi sint dicta, libero nesciunt dolor, velit expedita error alias aperiam dolores. Dolores itaque veritatis dolore provident officiis? Sed, placeat voluptatum.Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Omnis, modi sint dicta, libero nesciunt dolor, velit expedita error alias aperiam dolores. Dolores itaque veritatis dolore provident officiis? Sed, placeat voluptatum.</p>
</div>
<br>
<br>
<br>
<br>
<br>