* {
    box-sizing: border-box;
}
h1{
    font-size: 6vw;

}

.contact {
    color: rgba(19, 153, 142, 0.89);
    padding: 0 1.5em;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
    text-align: center;
    color: rgba(19, 153, 142, 0.89);
    font-family: 'Alata', sans-serif;

    }

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper>* {
    padding: 0.8em;
}

 

.contact-info {
    background: rgb(12, 12, 12);
}

 
.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

 

.contact-info ul {
    list-style: none;
    padding: 0;
}





.contact-info span {
    color: rgba(19, 153, 142, 0.89);
    font-family: 'Alata', sans-serif;
    font-size: calc(0.2rem + 1.8vw);
}

.e1 {
    font-family: 'Alata', sans-serif;
    font-size: calc(0.2rem + 1.8vw);

}
