<app-barnav visible="true"></app-barnav>
<div class="contact  ">
    <div class="content">
        <div class="container">
            <h1 class="logo display-2 mb-5 ">Contacto</h1>
        </div>
        <div class="contact-wrapper">
            <div class="contact-form">
                <form action="">
                    <p>
                        <label for="fullname" class="lform">Nombre Completo</label>
                        <input type="text" name="fullname" id="fullname">
                    </p>
                    <p>
                        <label class="lform">Email</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label class="lform">Teléfono</label>
                        <input type="tel" name="phone">
                    </p>
                    <p>
                        <label class="lform">Asunto</label>
                        <input type="text" name="affair">

                    </p>
                    <p class="block">
                        <label class="lform">Mensaje</label>
                        <textarea name="message" rows="3"></textarea>
                    </p>
                    <p class="block">
                        <button type="submit">
             <span class="lform"> Enviar</span>
          </button>
                    </p>
                </form>
            </div>
            <div class="contact-info lcont">
                <h4 class="lform mt-4">Nuestros Datos:</h4>
                <br>
                <ul>
                    <li> <i class="fas fa-phone"> 154-442-9875</i></li>

                    <li class="lform"> <i class="fas fa-envelope-open-text "> angrysleppers@hotmail.com</i></li>
                </ul>
                <br>
                <p class="lform">Contrataciones para eventos, consultas, entradas anticipadas, etc</p>
                <br>
                <p class="mt-5"><span>AngrySleppers.com</span></p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>