<app-barnav visible="true"></app-barnav>
<div class="contact  ">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col">
            <h1 class="logo mb-5">Contacto</h1>
        </div>
        </div>
        </div>
        <div class="contact-wrapper">
            <div class="contact-info e1">
                <h4 class="e1 mt-2">Nuestros Datos:</h4>
                <ul>
                    <li> <i class="fas fa-phone e1 ">154-442-9875</i></li>
                    <li class="e1"> <i class="fas fa-envelope-open-text "> angrysleppers@hotmail.com</i></li>
                </ul>
                <p class="e1">Contrataciones para eventos, consultas, entradas anticipadas, etc</p>
                <br>
                <p class="mt-1"><span>angrysleppers.herokuapp.com</span></p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
