<nav  *ngIf="visible" class="navbar navbar-expand-xl navbar-dark fixed-top ">
    <a class="navbar-brand" href="start">
        <img src="assets/fractal-sobre-fondo-negro_95125-470.jpg" width="40" height="30"><span class="homenav ml-2">Angry Sleppers</span>
    </a>
    <ul class="navbar-nav mx-auto">
        <li class="nav-item mr-2">
            <a href="shows" class="nav-link active nitem">Shows</a>
        </li>
        <li class="nav-item mr-2">
            <a href="history" class="nav-link active nitem">Historia</a>
        </li>
        <li class="nav-item mr-2">
            <a href="shop" class="nav-link active nitem">Tienda</a>
        </li>
        <li class="nav-item mr-2">
            <a href="cds" class="nav-link active nitem">Albums</a>
        </li>
        <li class="nav-item mr-2">
            <a href="/contact" class="nav-link active nitem">Contacto</a>
        </li>
        <li class="nav-item mr-2">
            <a href="pictures" class="nav-link active nitem">Fotos</a>
        </li>
    </ul>
    <div class="nav-item nav-link active">
        <a href="https://www.youtube.com" target="_blank">        <img src="assets/youtube5.png"  width="45px" height="40px">
        </a>
    </div>
    <div class="nav-item nav-link active ">
        <a href="https://www.facebook.com"  target="_blank">     
        <img src="assets/facebook.png" width="45px" height="40px"> 
        </a>
    </div>
    <div class="nav-item nav-link active ">
        <a href="https://www.instagram.com"  target="_blank">       
            <img src="assets/insta1.webp"  width="45px" height="40px">
        </a>
    </div>
</nav>