.homenav {
    color: rgb(11, 172, 221);
    font-family: 'Alata', sans-serif;
    font-size: 1.8rem;
}
.navbar-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 8vh;
    

        }
nav {
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.973);
    background: rgb(5, 5, 5);
    border-bottom: solid rgb(150, 150, 150);
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.nitem {
    color: rgb(11, 172, 221);
    font-family: 'Passero One', cursive;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 30px;
    align-items: center;
    padding-top: 17px;
    
}

.ytbicon{
    border-radius: 20%;
}
.rsoc{
    display: flex;
    justify-content: space-around;
   
}