<app-barnav visible="true"></app-barnav>
<br>
<br>
<br>
<div class="display-2 text-left mt-5" style="font-family: 'Frijole', cursive; color: rgb(0, 0, 0);">
    Proximo Show
</div>
<br>
<div class="display-3 text-left ml-5" style="font-family: 'Frijole', cursive; color: rgb(4, 12, 85);">
    07/09/2020
</div>
<div class="display-4 text-left ml-5" style="font-family: 'Frijole', cursive; color: rgb(118, 15, 236);">
    EN LOS PIBES BAR
</div>
<div class="text-left ml-5 mt-5">
    <img src="assets/woo1.jpg" height="247px" width="600px">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>