.ingresar {
    background: black;
    box-shadow: 0px 0px 20px 0px rgb(95, 90, 78);
    color: rgba(16, 71, 54, 0.959);
    font-size: calc(1.3rem + 0.8vw);
    border-radius: 50%;
    line-height: 0;
    font-family: 'Passero One', cursive;
    border-top: solid silver;
    border-bottom: solid silver;
    display: inline-block;
    height: 130px;
    width: 130px;
    padding-top: 55px;
}

.ingresar:hover {
    background:    rgb(0, 0, 0);
    color: rgb(7, 219, 149);
    text-decoration: none;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tit {
    font-family: 'Alata', sans-serif;
    font-size: calc(3.8rem + 2.6vw);
    color: rgb(11, 172, 221);

}

audio {
    width: 200px;
    height: 28px;
}