body {
    background: url(assets/f2.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}



footer {
    font-size: calc(0.1rem +0.1vw);
    color: rgb(114, 102, 102);
    background: rgb(26, 25, 25);
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

::selection {
    color: rgb(0, 0, 0);
    background: rgb(218, 54, 13);
}

::-moz-selection {
    /* Code for Firefox */
    color: rgb(0, 0, 0);
    background: rgb(218, 54, 13);
}

